.auth-form-container {
    background-color: #f0f0f0cd;
    padding: 6rem;
    border: 2px solid rgb(15, 15, 15);
    border-radius: 10px;
    margin: 8px
}

.back-to-home-button {
    position: absolute;
    top: 8px;
    left: 8px;    
}

.login-form {
    border-radius: 5px;
}

.auth-form-container button {
    margin-top: 2rem;
}

.App {
    text-align: center;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #FFE5B4;
    background-image: linear-gradient(45deg, var(--color-4), var(--color-2) 48%, var(--color-4));
}

.auth-form-container,
.login-form,
.register-form {
    display: flex;
    flex-direction: column;
}

@media (max-width: 600px) {
    .auth-form-container {
        border: 2px solid rgb(15, 15, 15);
        border-radius: 10px;
    }
}