.home-main {
    display: flex;
    gap: 2rem
}

.filters-menu {
    position: relative;
    width: fit-content;
    min-width: fit-content;
    max-width: 400px;
    max-height: fit-content;
    padding: 1rem;
    transition: translate 300ms;
    background-color: white;
}

.filters-scroll {
    display: flex;
    flex-direction: column;
}

.filter-section {
    padding: 2rem;
    background-color: var(--color-6);
    border-radius: 12px;
    margin-top: 2rem;
}
.filter-section h4 {
    margin: 0;
    margin-bottom: 12px;
}

.filters-menu .filters-menu-toggle-button {
    position: absolute;
    background-color: rgb(201, 1, 1);
    color: white;
    top: 0; right: 0;
    translate: 100% 0;
    padding: 12px 22px;
    border-radius: 0px 12px 12px 0px;
    font-size: 24px;
    visibility: hidden;
}

#but-span {
    display: block;
    transition: rotate 500ms;
}

.filter-checkbox {
    scale: 1.5;
    margin-right: 1rem;
}

.filter-price-outer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.filter-price-outer * {
    margin: 0;
    padding: 0;
}
.filter-price-outer .price-num {
    padding: 1rem;
}

.filter-price-outer .buttons {
    display: flex;
    gap: 8px;
}
.filter-price-outer .buttons .go-filters-button {
    flex-grow: 1;
}
.filter-price-outer .clear-filters-button {
    width: fit-content;
    margin-top: 0;
}

.clear-filters-button {
    font-size: 2rem;
    padding: 4px 8px;
    margin-top: 8px;
    margin-bottom: 0;
}

.home-content-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.home-sorting-section {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.home-sorting-section .filters-menu-toggle-button {
    padding: 1rem 3rem;
    margin: 0;
    visibility: hidden;
    transition: 300ms;
}

.home-sorting-section .sorting-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: fit-content;
    gap: 1rem;
}

.home-sorting-section .sort-caption {
    font-size: 2.5rem;
}

.home-sorting-section .sorting-select-menu {
    flex-grow: 1;
    padding: 8px 8px;
    font-size: 2rem;
    border-radius: 8px;
    width: 100%;
    max-width: fit-content;
    min-width: 120px;
}
.home-sorting-section .sorting-option {
    padding: 8px 0px
}

.home-content {
    display: grid;
    flex-grow: 1;
    min-height: 90vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, max-content);
    gap: 2rem;
    padding: 2rem;
    background-color: var(--grey-4);
}

.product-card {
    border: 2px solid var(--grey-3);
    min-width: 100px;
    padding: 16px;
    border-radius: 2rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: all 300ms;
    background-color: white;
}
.product-card:hover {
    border: 2px solid var(--color-3);
    box-shadow: 0px 0px 4rem -1rem var(--color-3);
}

.product-img-container {
    height: 128px;
    display: flex;
    justify-content: center;
}

.product-img {
    display: block;
    height: 100%;
    width: auto;
}

.product-price {
    font-size: 2.5rem;
    width: 100%;
    margin: 0;
}

.lower-container {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 2rem;
}

.lower-container span {
    color: red;
    font-weight: bold;
}

.add-to-cart-button {
    padding: 1rem 2rem;
    margin: 0
}

.add-to-cart-button.disabled {
    background-color: var(--grey-3);
}

@media (max-width: 1200px) {
    .home-content {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 900px) {
    .home-content {
        grid-template-columns: repeat(2, 1fr)
    }
    .filters-menu {
        font-size: 20px;
    }
    .filters-menu label {
        font-size: 18px;
    }
}

@media (max-width: 810px) {
    .filters-menu {
        translate: -100% 0;
        top: 10rem;
        padding: 3rem;
        width: 70%;
        height: 80vh;
        max-width: 400px;
        position: fixed;
        border: 2px solid var(--grey-2);
        border-radius: 8px;
        z-index: 1;
    }

    .filter-price-outer .price-num {
        padding: 1.5rem;
        font-size: 2.5rem;
    }

    .filters-scroll {
        height: 100%;
        overflow-y: scroll;
    }

    .filters-menu.visible {
        box-shadow: 4px 2px 16px rgba(0, 0, 0, 0.4);
        translate: 0 0;
    }
    .filters-menu.visible ~ .home-content-container {
        opacity: 0.3;
    }

    .filters-menu .filters-menu-toggle-button {
        visibility: hidden;
        opacity: 0;
    }
    .filters-menu .filters-menu-toggle-button:hover {
        transform: scale(1);
    }
    .filters-menu.visible .filters-menu-toggle-button {
        visibility: visible;
        opacity: 1;
    }

    .filter-item {
        padding: 2px;
    }

    .clear-filters-button {
        padding: 8px 16px;
    }

    .home-sorting-section {
        padding: 2rem;
        border: 2px solid black;
        border-left: none;
        border-right: none;
        background-color: white;
        position: sticky;
        top: 8rem;
        z-index: 1;
    }
    .home-sorting-section .filters-menu-toggle-button {
        visibility: visible;
    }
    .home-sorting-section .sorting-option {
        font-size: 2.5rem;
    }
}

@media (max-width: 763px) {
    .product-img-container {
        height: 78px;
    }
}
@media (max-width: 580px) {
    .product-img-container {
        min-width: 128px;
    }
    .product-img {
        width: auto;
        height: 100%;
    }
    /* .upper-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        width: 100%;
    } */
}
@media (max-width: 500px) {
    .upper-container {
        flex-direction: column;
    }
}

@media (max-width: 450px) {
    .home-content {
        grid-template-columns: 1fr;
    }

    .home-sorting-section .sort-caption {
        font-size: 2rem;
    }
}