:root {
  --color-1: rgb(236, 111, 29);
  --color-2: rgb(255, 255, 255);
  --color-3: rgb(227, 98, 12);
  --color-4: rgb(255, 169, 111);
  --color-5: rgb(255, 200, 164);
  --color-6: rgb(255, 217, 192);
  --grey-0: rgb(100, 100, 100);
  --grey-1: rgb(120, 120, 120);
  --grey-2: rgb(166, 166, 166);
  --grey-3: rgb(200, 200, 200);
  --grey-4: rgb(229, 229, 229);

  font-size: 8px;

  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 2rem;
}

* {
  box-sizing: border-box;
}

label {
  text-align: left;
  padding: 1rem 0;
  font-size: 2rem;
}

input {
  margin: 0.5rem 0;
  padding: 2rem;
  border: none;
  border-radius: 10px;
  font-size: 2rem
}

button {
  background-color: var(--color-1);
  border: 0;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 2.3rem;
  font-weight: 600;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 80%);
  border-radius: 8px;
  content: "";
  height: 50%;
  left: 0.5%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 99%;
}

button:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}

button.secondary {
  background: var(--color-2);
  color: var(--color-1);
  border: 2px solid var(--color-1);
}

button.critical {
  background-color: red;
  color: white
}

footer {
  padding: 12px;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: var(--color-3)
}

@media (min-width: 768px) {
  button {
    padding: 16px 48px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  box-shadow: 0px 0px 4px var(--color-1);
  background-color: white;
}

@media (max-width: 870px) {
  :root {
    font-size: 7px;
  }
}